@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* עיצוב כותרת עליונה */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #1d7fa5;
}

/* עיצוב שם האתר */

header .site-name {
  color: #1d7fa5;
  font-size: 24px;
  font-weight: bold;
}

/* עיצוב האייקונים בכותרת */

header .icons {
  display: flex;
  align-items: center;
}

/* מרווחים בין האייקונים */

header .icons > * {
  margin-left: 12px;
}

/* עיצוב האייקונים */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* עיצוב שורת החיפוש ואייקונים מתחת לכותרת */

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  /* מרווח קטן מתחת לכותרת */
}

/* עיצוב שורת החיפוש */

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* אייקון היסטוריית מוצרים */

.acute-icon {
  font-size: 24px;
  color: #1d7fa5;
  margin-right: 10px;
}

/* אייקון היסטוריית חיפושים */

.manage-search-icon {
  font-size: 24px;
  color: #1d7fa5;
  margin-right: 10px;
}

/* תיבת חיפוש */

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  font-size: 24px;
  color: #1d7fa5;
  position: absolute;
  left: 10px;
}

.search-input {
  padding: 8px 8px 8px 30px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #1d7fa5;
  border-radius: 20px;
  outline: none;
  color: #1d7fa5;
  text-align: center;
}

.search-input::placeholder {
  color: #1d7fa5;
}

/* עיצוב אייקון הרשימה בצד ימין של המסך */

.format-list-icon {
  font-size: 24px;
  color: #1d7fa5;
}
