@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* עיצוב כותרת עליונה */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #1d7fa5;
}

.favorite-icon {
    font-variation-settings: "FILL" 1;
    color: red;
    cursor: pointer;
}


/* עיצוב שם האתר */

header .site-name {
    color: #1d7fa5;
    font-size: 24px;
    font-weight: bold;
}


/* עיצוב האייקונים בכותרת */

header .icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* מרווחים בין האייקונים */

header .icons>* {
    margin-left: 12px;
}


/* עיצוב האייקונים */

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}